apiVersion: v1
kind: Pod
metadata:
  name: kube-vip
  namespace: kube-system
spec:
  hostNetwork: true
  automountServiceAccountToken: false
  dnsPolicy: Default
  enableServiceLinks: false
  priorityClassName: system-node-critical
  containers:
    - name: kube-vip
      image: ghcr.io/kube-vip/kube-vip:{{ kube_vip_version }}
      args:
        - manager
      env:
        - name: cp_enable
          value: "true"
        - name: vip_arp
          value: "true"
        - name: vip_interface
          value: "{{ vip_interface }}"
        - name: vip_address
          value: "{{ rke2_vip }}"
        - name: vip_cidr
          value: "{{ vip_prefix }}"
        - name: vip_leaseduration
          value: "5"
        - name: vip_renewdeadline
          value: "3"
        - name: vip_retryperiod
          value: "1"
      volumeMounts:
        - name: kubeconfig
          mountPath: /etc/kubernetes/admin.conf
          readOnly: true
      securityContext:
        capabilities:
          add:
            - NET_ADMIN
            - NET_RAW
      resources:
        requests:
          cpu: 10m
          memory: 16Mi
  hostAliases:
    - ip: "127.0.0.1"
      hostnames:
        - kubernetes
  volumes:
    - name: kubeconfig
      hostPath:
        path: /etc/rancher/rke2/rke2.yaml
        type: File
  tolerations:
    - operator: Exists
