apiVersion: v1
kind: Secret
metadata:
  name: infra-helm-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: https://github.com/WMS-DEV/infra-helm.git
  username: x-token
  password: {{ argocd_repo_token }}
