apiVersion: v1
kind: Secret
metadata:
  name: infra-helm-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: https://github.com/WMS-DEV/infra-helm.git
  githubAppID: "{{ argocd_github_app_id }}"
  githubAppInstallationID: "{{ argocd_github_app_installation_id }}"
  githubAppPrivateKey: |
    {{ argocd_github_app_private_key | indent(4) }}
